{{ $processed_str := strings.Replace (strings.Trim .Inner "\r\n") "\r\n" "\n" }}
{{ $entries := split $processed_str "\n\n" }}
<ol class="relative border-s border-gray-200 dark:border-gray-700 pl-9">
  {{ range $entries }}
    {{ $part := split . "\n" }}
    {{ if gt (len $part) 1 }}
      <li class="mb-10 ms-4">
        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
        <time class="mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">{{- index $part 0 -}}</time><!-- 时间 -->
        <div class="timeline">
            {{ $contentList := slice }}
            {{ range $i, $v := $part }}
              {{ if (ne $i 0) }}
                {{ with $v }}
                  {{ $contentList = $contentList | append $v }}
                {{ end }}
              {{ end }}
            {{ end }}
            {{ $content := collections.Delimit $contentList "\n"}}
            {{ $content | markdownify }}
        </div>
      </li>
    {{ end }}
  {{ end }}
</ol>
